body{
	background-color: black;
}

.navbar{
	background-color: rgba(0,40,0,1);
	background: -webkit-linear-gradient(rgb(0,40,0) 10%, black 90%); /* Safari 5.1 to 6.0 */
  	background: -o-linear-gradient(rgb(0,40,0) 10%, black 90%); /* For Opera 11.6 to 12.0 */
  	background: -moz-linear-gradient(rgb(0,40,0) 10%, black 90%); /* For Firefox 3.6 to 15 */
  	background: linear-gradient(rgb(0,40,0) 10%, black 90%); /* Standard syntax */
}

#sidebar{
	background-color: black;
	color:white;
	padding:0;
	height:550px;
	font-size: 16px;
}

.select_algo{
	/*display:inline;*/
	/*padding-left: 10px;*/
}

#board{
	color:black;
	height:550px;
	padding: 0px;
}

#sidebar #vmlLogo{
	width: 100%;
	display:block;
	margin-left: auto;
    margin-right: auto;
}

#myTab, .tab-content{
	padding:10px 10px 0px 10px;
	border: black;
}

#myTabContent{
	padding-right: 0px;
}

.tab-pane{
	height: 350px;
	overflow: auto;
}

.tab-content img{
	width:80%;
	display: block;
	margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}

/*#myTab .dropdown-toggle{
	background-color: rgb(0,40,0);
}

#myTab .dropdown-toggle .active{
	background-color: white;
}*/

.dropdown-menu{
	color: black;
}

#tooltab{
	height:65px;
	font-family: Helvetica;
	padding-right: 5px;
	background-color: black;
}

.btn{
	font-family: Helvetica;
}

.tool{
	width: 50px;
	height: 50px;
	background-color: #EEE;
	border-style: solid;
	border-width: 3px;
	border-color: rgb(100,100,0);
	border-radius: 10px;
	display: inline-block;
	text-align: center;
	padding-top: 5px;
	margin-top:8px;
	margin-right: 5px;
	/*margin:auto 0;*/
	-webkit-transition: box-shadow 0.1s; /* For Safari 3.1 to 6.0 */
    transition: box-shadow 0.1s;
}

.toolbutton a i{
	text-decoration: black;
}

.current{
    background-color: #B2FF99;
    color:black;
}

.dropup{
	display: inline-block;
}

#selectClass{
	margin-top: 15px;
	font-size: 15px;
}

.pp{
	margin-top: 15px;
	padding-left: 5px;
	padding-right: 5px;
}

#compute, #adjustParameter{
	margin-top: 15px;
}

.topic{
	color:yellow;
}

.modal{
	color:black;
}

.modalLabel{
	font-size: 20px;
}

#results .table{
	background-color: #222;
}

.loader {
  margin: 12em auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(0, 0, 255, 0.2);
  border-right: 1.1em solid rgba(0, 0, 255, 0.2);
  border-bottom: 1.1em solid rgba(0, 0, 255, 0.2);
  border-left: 1.1em solid rgba(0,0,255,1);
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
.loader,
.loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.from{
	color: #AAA;
}

.pp .brush{
	font-size: 15px;
}