.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 11px;
}

.dot.labelA{
	fill: red;
}

.dot.labelB{
	fill: blue;
}

.dot.labelC{

}

.dot.labelD{

}

.dot.labelE{

}

.dot.labelU{
	fill: gray;
}

.dot{
	stroke: black;
}