.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 11px;
}

.dot.labelA{
	fill: red;
}

.dot.labelB{
	fill: green;
}

.dot.labelC{
	fill: blue;
}

.dot.labelD{
	fill: orange;
}

.dot.labelE{
	fill: purple;
}

.dot.labelU{
	fill: grey;
}

.dot{
	stroke: black;
}