.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 11px;
}

.dot{
	stroke: black;
}

.boundary{
	fill-opacity: 0.2;
	stroke-width:1;
	stroke:rgb(0,0,0);
}

.centroids{
	stroke-width:3;
	stroke:rgb(0,0,0);
}

.LRline{
	stroke: red;
	stroke-width:2;
}

.LOLine{
	stroke-width:2;
}

.dot.incorrectPredict{
	stroke:white;
	stroke-width:3;
}

.dot.unknownPredict{
	stroke-width:3;
}


#circleRandomPlot{
	fill: rgba(255,255,255,0);
	stroke: grey;
}